@font-face {
    font-family: britny;
    src: url(Britney-Variable.ttf);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}

header {
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 30px;

}

.btt {
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    border: 3px solid cyan;
    transition: .4s ease;
    background: transparent;
    margin-right: 30px;

}

.logo {
    font-size: 20px;
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header nav ul li {
    list-style: none;
    display: inline;
}

header a {
    color: white;
    padding-left: 50px;
    transition: .4s ease-in;
}

header a:hover {
    color: cyan;
    transition: .4s ease-in;
}

body {
    background: black;
}

.home {
    text-align: center;
    color: white;
    padding-top: 150px;
    max-height: 100vh;
}

.home h1 {
    padding-bottom: 1px;
    font-size: 80px;
    font-family: britny;
}

h1 span {
    color: cyan;
}

h2 span {
    color: cyan;
}

.home h2 {
    padding-bottom: 10px;
    font-size: 55px;
    font-weight: lighter;
}

.home p {
    padding-top: 10px;
    padding-bottom: 25px;
    max-height: 100vh;
    width: 80%;
    padding-left: 220px;
    line-height: 2.5vh;
    font-size: 18px;
}

.btn {
    padding-top: 30px;

}

button {
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    border: 3px solid cyan;
    transition: .4s ease;
    background: transparent;

}

button:hover {
    color: cyan;
    background-color: black;
    transition: .4s ease;
    border: 3px solid white;
    cursor: pointer;
    transform: scale(1.1);
}

.about h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 120px;
    background-color: grey;
    padding: 10px;
    font-family: britny;
}

.about h2 {
    font-size: 30px;
    margin-bottom: 35px;
    color: cyan;
}

.about {
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
}

.image {
    margin-right: 90px;
    margin-left: 80px;
    margin-top: 50px;

}

.image img {
    border-radius: 50px;
    height: 400px;
    width: 100%;
    border: 4px solid cyan;
    transition: .3s ease;

}

.image img:hover {
    transition: .3s ease;
    transform: scale(1.1);

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.about .content {
    flex: 1;
}

.about .content .pp {
    margin-bottom: 60px;
}

.projects {
    color: white;
}

.projects h1 {
    background-color: grey;
    text-align: center;
    font-size: 30px;
    margin-top: 120px;
    padding: 10px;
    font-family: britny;

}

.content {

    text-align: center;
    margin-top: 50px;

}

.projects .content h2 {
    color: cyan;
    font-size: 40px;
    margin-bottom: 20px;
}

.projects .content p {
    margin-bottom: 50px;
}

.projects .containerr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects .containerr .box {
    background-color: grey;
    text-align: center;
    overflow: hidden;
    margin-bottom: 90px;
    border-radius: 10px;
    padding-bottom: 20px;
    border: 2px solid cyan;


}



.projects .containerr .box p {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.projects .containerr .box h2 {
    margin-top: 5px;
}

.projects .containerr .box img {
    border: 4px solid white;
    border-radius: 10px;
    transition: .3s ease;

}

.projects .containerr .box img:hover {
    transition: .3s ease;
    transform: scale(1.1);

}